body{

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   background-image: url(Pizzalunden-bilder/garden.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    display: grid;
    gap: 40px 10px;
    align-items: center;  
}
*{
    box-sizing: border-box;
}
    
    
 /*--------Header section---------*/


header{
    max-width: 100%;
    margin: auto 20%;
    display: flex;
    flex-direction: column;
    gap: 20px 10px;
    align-items: center;
}
.h1{
    color: rgb(156, 43, 60);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(54, 49, 49);
  font-size: x-large;
}
.h1 p{
    color: black;
    text-align: center;
}

.loga{
    box-shadow: 7px 8px 13px rgb(54, 49, 49);
    width: 80%;
    height: 100%;
    margin: auto 20%;

   
}
.headmenu{
    display: flex;
    background-color: rgb(156, 43, 60);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(54, 49, 49);
    min-height: 40px;
    padding-top: 10px;
}
    


nav{
    width: 100%;
}

.headmenu a{
    color: white;
    text-decoration: none;
    padding: 0% 4%;
}
.headmenu a:hover{
    color: black;
    transition-duration: 0,3s;
}
 /*--------Main section---------*/
main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 10px;
    
    
}

.card{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
   
    
}
  
.card img{
    width: 80%;
    height: 100%;
    box-shadow: 7px 8px 13px rgb(54, 49, 49); 
    transition: transform 0.3s, filter 0.3s; 
}



.card:hover img {
    transform: scale(1.1);
    filter: brightness(70%);

}

.card p{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
 
}
.card:hover p{
    opacity: 1;
    cursor: pointer;
}

.card p:hover{
    color: rgb(156, 43, 60);
    transition-duration: 0,3s;
    text-align: center;
}
 /*--------Footer section---------*/
section{
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px 10px;
    
    
    
}
.history{
    background-color: rgb(156, 43, 60);
    height: auto;
    width: 80%;
    box-shadow: 7px 8px 13px rgb(54, 49, 49);
    
}
.history p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 16px;
    padding: 5px 5px;
    margin: 0px;
}
.ouerway{
    background-color: rgb(156, 43, 60);
    height: auto;
    width: 80%;
    box-shadow: 7px 8px 13px rgb(54, 49, 49);
}

.ouerway p,h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 16px;
    padding: 5px 5px;
    margin: 0px;
}
h2{
    font-weight: bold;
    font-size: 22px;
}


.tider{
    background-color: rgb(156, 43, 60);
    height: auto;
    width: 80%;
    box-shadow: 7px 8px 13px rgb(54, 49, 49);
}
.tider p,h3{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 16px;
    padding: 5px 5px;
    margin: 0px;
}


footer{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:rgb(156, 43, 60) ;
    text-align: center;
    box-shadow: 7px 8px 13px rgb(54, 49, 49);
    justify-content: space-between;
    padding: 0px 20px ;
    min-height: 40px;
    padding-top: 10px;
}
    


footer a{
    color: white;
    
    text-decoration: none;
}

footer a:hover{
    color: black;
    transition-duration: 0,3s;
}



@media screen and (min-width: 960px) {

    
}